{%extends "registration/base.html"%}
{% load bootstrap3 %}
{% block content %}
<div class="container">
    <div class="row">
        <br>
        <div class="col-md-1"></div>
        <div class="col-md-5" style="margin-top: 50px;">
            <img src="https://ucarecdn.com/f0e65890-b403-4316-8068-d1dd58c8f80f/instagram.png" alt="instagram pre-login photo">
        </div>

        <div class="col-md-5">
            {% if form.errors %}
            <p> Password or username is incorrect </p>
            {% endif %}

            <div class="card" style=" padding:30px; width: 350px; height: 460px; margin-top:70px; border:1px solid gray">

                <div class="card-body">
                    <h3 class="text-center" style="font-size:40px; font-family:  'Lobster Two', cursive;">Instagram </h3>
                </div>

                    <form style="width: 250px;" action="/accounts/login/" method="post">
                        {% csrf_token %}
                        {% bootstrap_form form%}

                        <div class="form-group">
                            <input style= " width: 250px;" type="submit" class="btn btn-primary btn-sm" value="Login">

                        </div>

                <hr>
                <p class="container">you dont have an account? <a href="/accounts/register"> Sign Up</a></p>
            </div>
        </div>

    </div>

    <input type="hidden" name="next" value="{{next}}">

    </form>
</div>

<div class="col-md-1"></div>

{% endblock %}