body {
    background-color: beige;
}

h1 {
    color: rgb(1, 7, 10);
}

.navbar {
    background-color: white;
}

li{
    display: inline;
    padding: 15px; 
    text-transform: uppercase;
}
.navbar-brand :hover{
    color: blue;
}
